<div>
    <h1>Carrito id: {{_id}}</h1>
    {{#each products}}
    <div class="product-conteiner">
        <div class="product">
            {{!-- {{#each this.thumbnails}}
            <img src={{this}} alt={{this.title}}>
            {{/each}} --}}
            <p>{{this.pid.category}}</p>
            <p>{{this.pid.title}}</p>
            <p>{{this.pid.code}}</p>
            <p>Precio:${{this.pid.price}}</p>
            <p>stock:{{this.pid.stock}}</p>
        </div>
    <a href="/products/{{this.pid._id}}"><button class="detalle-button">Ver detalle</button></a>
    </div>
    {{/each}}
    <a href="/products"><button class="home-button">Home</button></a>
</div>