<div>
    <h1>Bienvenido {{user.first_name}} {{user.last_name}}</h1>
    <p>correo: {{user.email}}</p>
    <p>edad: {{user.age}}</p>
    <p>rol:{{user.rol}}</p>

    <button class="logout-button">Cerrar Session</button>
    <h2>Productos</h2>
    <p>Carrito Id:
    {{#each cart_obj}}
        <input class='cart-id' type="radio" name="option" value={{this.id}}>{{this.id}}</input>
    {{/each}}
    </p>    
    <button class="cart-button">Ver carrito</button>


    <div class="products-conteiner">
    {{#each products}}
    <div class="product-conteiner">
        <div class="product">
            {{#each this.thumbnails}}
            <img src={{this}} alt={{this.title}}>
            {{/each}}
            <p>{{this.category}}</p>
            <p>{{this.title}}</p>
            <p>{{this.code}}</p>
            <p>Precio:${{this.price}}</p>
            <p>stock:{{this.stock}}</p>
        </div>
        <button class="product-button" id="{{_id}}">Agregar al carrito</button>
        <a href="/products/{{_id}}"><button class="detalle-button">Ver detalle</button></a>
    </div>
    {{/each}}
    </div>
    <div class="pages-conteiner">
    {{#if hasPrevPage}}
        
        <a prevPage='{{prevPage}}' id="prevLink"><button>Anterior</button></a>
    {{/if}}
    <p class="pageNumber">{{page}}</p>
    {{#if hasNextPage}}
        <a nextPage="{{nextPage}}" id="nextLink"><button>Siguiente</button></a>
    {{/if}}
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/products.js"></script>
