<div>
    <h1>Productos</h1>
    {{#each products}}
    <div>
        {{#each this.thumbnails}}
        <img src={{this}} alt={{this.title}}>
        {{/each}}

        <p>{{this.title}}</p>
        <p>{{this.code}}</p>
        <p>Precio:{{this.price}}</p>
        <p>stock:{{this.stock}}</p>
    </div>
    {{/each}}
</div>
